.wrapperC {
  display: flex;
}

.container {
  display: flex;
  padding: 20px;
  margin: 10px;
  border: solid 1px black;
  border-radius: 20px;
  flex-direction: column;
  gap: 20px;
}

.li {
  list-style: none;
  margin: 10px;
}

.link {
  text-decoration: none;
  padding: 5px;

  border: 1px solid black;
  border-radius: 10px;
  color: indigo;
}

.link:global(.active) {
  color: indianred;
  border: 1px solid indianred;
}
